<!--<div class="bg-dark">
    <h1 class="p-5 text-white text-center">footer</h1>
</div>-->

<footer class="bg-dark text-white d-flex flex-wrap p-3 justify-content-between ">
   
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
       
                <h6>Flat no 300</h6>
                <h6>KPHB</h6>
                <h6>Hyderabad-500022</h6>
           
            </div>
        <div class="col-sm-6 text-center">
           
                <h6>xxxxxxxxx@mail.com</h6>
                <h6>+91 9999999999</h6>
                <h6>Technology solutions</h6>
         
        </div>
        </div>
    </div>


</footer>

