<div class="card w-75 d-block mx-auto mb-3">
    <div class="card-header">
        <h3>Header</h3>
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nostrum natus quia aut labore illum
            delectus dolore explicabo. Rerum, amet! Soluta commodi dignissimos, 
            adipisci molestiae fuga cumque illum repellendus quis.
        </p>
    </div>
    <div class="card-footer">
        <button class="btn btn-success btn-end">Like!</button>
    </div>
</div>