<!--Display Names to the list! - Event Binding
<div class="mx-auto mt-5" style="max-width: 700px;">
  <h1 class="text-center heading text-danger">Enter Names!</h1>
  <div class="form-floating m-5">
    <input type="text" class="form-control " id="floatingInput" placeholder="Ex: Eating...." #ref>
    <label for="floatingInput">Add Names</label>
  </div>
  <button class="btn btn-success d-block mx-auto mt-3" (click) = "storeData(ref.value);ref.value='' " >
    <i class="fa fa-plus-square text-dark">&nbsp;</i>
    <strong class="text-dark">Add to list</strong>
  </button>
</div>


<div class=" mt-5  mx-auto w-50 "> 
  <h2 class="text-center bg-warning p-2">List Of Names!</h2>
  <hr>
  <h2 *ngIf = "arr.length==0" class="text-center text-dark">No items found!</h2>
  <h4 *ngFor = "let i of arr;let idx=index" class="w-50 mx-auto shadow p-3">
    {{i}}
    <button class="btn btn-danger float-end" (click)="deleteItem(idx)"><i class="fa fa-trash"></i></button>
  </h4>
</div>-->

<!--Display To the List - Two-way Binding
<div class="mx-auto mt-5" style="max-width: 700px;">
  <h1 class="text-center heading text-danger bg-info p-2">Enter Names!</h1>
  <div class="form-floating m-5">
    <input type="text" class="form-control " id="floatingInput" placeholder="Ex: Eating...." [(ngModel)] = 'data'>
    <label for="floatingInput">Add Names</label>
  </div>
  <button class="btn btn-success d-block mx-auto mt-3" (click) = "storeData() " >
    <i class="fa fa-plus-square text-dark">&nbsp;</i>
    <strong class="text-dark">Add to list</strong>
  </button>
</div>

<div class=" mt-5  mx-auto w-50 "> 
  <h2 class="text-center bg-warning p-2">List Of Names!</h2>
  <hr>
  <h2 *ngIf = "arr.length==0;else elseBlock" class=" text-center text-dark">No items found!</h2>
  <ng-template #elseBlock>
  <h4 *ngFor = "let i of arr;let idx=index" class="no-items w-50 mx-auto shadow p-3">
    {{arr[idx]}}
    <button class="btn btn-danger float-end" (click)="deleteItem(idx)"><i class="fa fa-trash"></i></button>
  </h4>
</ng-template>
</div>-->

<!--<div class="container">
  <h1 class="text-center display-3">Products Management System!</h1>
</div>-->

<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link "  routerLink="home" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active" >Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="login" routerLinkActive="active" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="contact-us" routerLinkActive="active" >ContactUs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="products" routerLinkActive="active" >Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="test" routerLinkActive="active" >Test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="user" routerLinkActive="active" >User</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>



<!--Nest child components-->
<div class="container">
  <router-outlet></router-outlet>
</div>


<!--Nest footer component
<div style="position:absolute; bottom:0px; width:100%">-->
  <app-footer class="mt-auto"></app-footer>




