
<!--Add carousel-->
<div id="carouselExampleControls" class="carousel carousel-dark slide m-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: url(https://www.pngkey.com/png/detail/258-2581871_data-group-phones-cellular-phone.png)">
        <div class="container">
            <h2 class="text-danger pt-3 pl-3">Mobile phones</h2>
            <p class="pt-3 pl-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quod veritatis officia soluta sap
                repellat, animi impedit tenetur reprehenderit maxime doloribus 
                doloremque. Atque quo sint blanditiis corporis, minus soluta?
            </p>
            <a href="#" class="btn btn-outline-success">Get To Know More!&nbsp;<i class="fas fa-caret-right"></i></a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block text-danger">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
        </div>
        <img src="https://www.pngkey.com/png/detail/258-2581871_data-group-phones-cellular-phone.png" class="d-block h-100 w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://previews.123rf.com/images/scanrail/scanrail1502/scanrail150200017/36489599-group-of-tablet-computer-pc-and-modern-touchscreen-smartphones-or-mobile-phones-with-colorful-displa.jpg" style="height: 516px;" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon " ></span>
    </button>
    <button class="carousel-control-next"  type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon "></span>
      
    </button>
  </div>

  

