<h2 class="text-center text-white mx-auto m-5">Registration Form</h2>
<form class="text-white col-sm-8 col-md-6 mx-auto">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="un" placeholder="username" name="username">
      <label for="un" class="form-label text-white">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="pwd" placeholder="pwd" name="password">
      <label for="pwd" class="form-label text-white">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="dob" placeholder="dob" name="dateOfBirth">
      <label class="form-check-label text-white" for="dob">Date Of Birth</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="em" placeholder="email" name="email">
        <label class="form-check-label text-white" for="em">Email</label>
      </div>
    <button type="submit" class="btn btn-success d-block mx-auto">Submit</button>
 </form>